*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
section{
	padding:50px 100px;
	font-family:sans-serif;
	font-size:20px;
	
}
body{
	
	
}



.parallax .overlay {
    min-height: 600px;
}
.parallax-container{
	background-color:rgba(0,0,0,0.5);
	width:100%;
	position:relative;
z-index:2;
justify-content:center;


}


.nav-main{
	display:flex;
	justify-content:center;
	box-sizing:border-box;
	overflow-y:hidden;
	position:relative;

}
.nav-content{

}
.sec1{
	background:url(images/bannerbg.jpg);
	box-sizing:border-box;
}

.icons{
	display:flex;
	float:right;
	padding-left:200px;

}
.icons a {
	padding:15px;
	top:0px;
}
.nav-content a {
	color:gray;
}
.main-nav {
	list-style:none;
	background:rgba(0,0,0,.6);
		width:100%;
		height:80px;
		display:flex;
		justify-content:space-around;
		align-items:center;
		z-index:1000;
		position:fixed;
		width:100%;
		top:50px;
		box-sizing:border-box;
	
}
nav a{
	text-decoration:none;
	font-weight:bold;
	color: white;
	padding:40px;
	line-height:50px;
	font-size:20px;
	
	
}

	
	
.overlay {
position:relative;
z-index:2;
  top: 200px;
  width: 1500px;
  height: 900px;
  text-align: center;
  color:white;
  right:7%;
  color:white;
  
}
.foody{
font-family: 'Pacifico';
font-size: 50px;
text-align:center;
}
.testimonials {
	background-color:#1A1814;
	color:white;
}
.test-container{
	display:flex;
	flex-direction:column;
}
.item{
	width:350px;
	padding:15px;
	background-color:#26231d;
	height:350px;

}
.item img{
	width:2px;
    border-radius: 50%;
    margin: -40px 0 0 40px;
    position: relative;
    z-index: 2;
    border: 6px;
	top:40px;
}
.container-fluid{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:60px 88px;
}
.gallery-item img {
	width:300px;
	
}
.gallery-item{
}
.second{
display:flex;
	justify-content:center;
	align-items:center;

}	
.gallery{
	background-color:#1A1814;
	
}
.box{
	width:300px;
	background:#fff;
	box-shadow:0 0 5px #bababa;
	overflow:hidden;
	position:relative;
}
.box img {
	width:300px;
}
.box .member-info{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
}
.box .member-info:before,
.box .member-info:after{
	content:"";
	width:95%;
	height:47%;
	background-color:rgba(0,0,0,.5);
	position:absolute;
	left:0;
	right:0;
	margin:auto;
	transition:all 0.5s;
	opacity:0;
}
.box .member-info:before{
	top:-20%;
}

.box .member-info:after{
	bottom:-20%;
}
.box:hover .member-info:before{
	top:3%;
	opacity:0.8;
}

.box :hover.member-info:after{
	bottom:3%;
	opacity:0.8;
}
.member-content{
	width:100%;
	height:50px;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	z-index:1;
	text-align:center;
	transform:capitalise;
	transform:rotate(90deg);
	opacity:0;
	transition:all 0.5s;
}
.box:hover .member-content{
	opacity:1;
	transform:rotate(0deg);
}
.box.social{
	padding:0;
	margin:0,0,20px,0;
	list-style:none;
}
.social li {
	display:inline-block;
	margin-right:10px;
	
}
.social a{

	background-color:#fff;
	display:block;
	width:35px;
	height:35px;
	line-height:35px;
	border-radius:50%;
	font-size:18px;
}
.box-container{
	display:flex;
	justify-content:space-around;
	padding:40px;
	
}
.chefs{
	background-color:#1A1814;
                                        
}
.parallax-window {
    min-height: 400px;
    background: transparent;

}
.form{
	background-color:#1A1814;

}
.great{
	font-family:'Great Vibes', ;


}
.footer-container{
	display:flex;
	justify-content:center;

}
.footer-container{

}
.footer-widget{
	background:url(images/footerbg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
.footer-content{
	padding:90px;
	color:white;
font-size:19px;
margin-left:20%;
}
.footer-content2{
	padding:80px;
	color:white;
	font-size:19px;
}
.footer-content3{
	padding:80px;
	color:white;
	font-size:19px;
	
}
.form-control{
	background:#323232;
	width:300px;
	height:29px;
}
.form-control1{
	background:#323232;
	width:300px;
	height:60px;
	margin-right:50px;
}
.db{
font-family: 'Pacifico';
text-align:center;
color:white;
}
.footer-icon a{
	padding:2.5px;
}
html, body {
  margin: 0;
  padding: 0;

}
.btn3{
	background-color: #E7A331;
    color: #ffffff;
    border: 2px solid #E7A331;
    text-transform: uppercase;
    border-radius: 4px;
	padding:10px;

	
}


    
	
	
	
	
	
		
	
	
	
	
	

	
	